.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

.centerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
/*change the size of the blurb based on the size of the webpage*/
.blurb{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: white;
  background-color: black;
  text-align: center;
  padding: 45px;
  border-radius: 35px;
}

.overview{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

body { 
  font-family: 'MessinaSansWeb';
}

h1{
  font-size: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: 'MessinaSansWeb';
  src:  url('MessinaSansWeb-Bold.woff2') format('woff2');
        /* url('MessinaSansWeb-Book.woff2') format('woff2'),
        url('MessinaSansWeb-Regular.woff2') format('woff2')
        url('MessinaSansWeb-SemiBold.woff2') format('woff2')
        url('NantesWeb-Light.woff2') format('woff2'),
        url('NantesWeb-Regular.woff2') format('woff2'); */
}
