path { 
    stroke-width: 2;
    fill: none;
  }
   
  .axis path,
  .axis line {
      fill: none;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }

  h2{
      width:80%
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

.centerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
.all_options{
    align-self: flex-end;
    margin-left: 70%;

    
}


